@mixin card($borde){
        border: 2px solid $borde;
        width: 450px;
        margin-left: 5px;
        background-color: papayawhip;
      }
.card-borde-rojo{
    @include card (red)
}
.card-borde-azul{
    @include card (blue )
}
.card-borde-bluev{
    @include card (blueviolet    )
}
.card-borde-amarillo{
    @include card (yellow    )
}
.card-borde-normal{
    @include card (black)}